* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%);
  width: 95vw;
  max-width: 1400px;
  padding: 0;
  overflow-x: hidden;
}

body h1 {
  margin-block: 0;
  padding: 0;
}